.profile__container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid black;
  border-radius: 8px;
  width: 600px;
  font-size: 30px;
  background-color: rgb(243, 241, 241);
}

.profile__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.profile__main_img {
  width: 200px;
  border-radius: 50%;
  background-color: grey;
}

.profile__main_name {
  font-size: 32px;
  font-weight: bold;
}

.profile__main_text {
  color: grey;
}

.profile__info_list {
  display: flex;
  font-size: 24px;
  background-color: darkgray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.profile__info_item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  width: calc(100% / 3);
  border-top: 1px solid grey;
}

.profile__info_item:not(:first-child) {
  border-left: 1px solid grey;
}

.profile__info_header {
  text-transform: capitalize;
}

.profile__info_text {
  font-weight: bold;
}
